<%- include('includes/head.ejs') %>
<div class="top-container">
    <h1>Seu portal de Noticias Favorito</h1>
    <img src="/img/banner.jpg">
</div>
<div class="container">
    <div class="blog-post">
        Um post no Blog
    </div>
</div>
<%- include('includes/footer.ejs') %>